<section class='story'>
  <h1>A Data-led Theory to Generationally Divide Dance Floors</h1>
  <section class="frame">
    <p class="frame-top">This is a hypothetical dance floor.</p>
  </section>
</section>
