<section class='story'>
  <h1>A Data-led Theory to Generationally Divide Dance Floors</h1>
  <div class="frame-wrapper">
    <section class="frame">
      <p class="frame-top">This is a hypothetical dance floor.</p>
      <div class="frame-img">
        <picture>
           <source
               srcset="assets/images/frame-1.png 1200w, assets/images/frame-1.png 900w, assets/images/frame-1.png 700w, assets/images/frame-1.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-1.png" alt="">
        </picture>
      </div>
    </section>
    <section class="frame">
      <p class="frame-top">Our dance floor is equally distributed by age.</p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-2-2.svg'>

        <picture>
           <source
               srcset="assets/images/frame-2.png 1200w, assets/images/frame-2.png 900w, assets/images/frame-2.png 700w, assets/images/frame-2.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-2.png" alt="">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top frame-top-left">Certain songs are more likely to be recognized based on your age. </p>
      <p class="frame-top frame-top-left frame-top-medium">(we <a target="_blank" href="https://pudding.cool/2020/04/music-challenge/">collected a 3.5 million data points</a> on what songs people know).</p>
      <p class="frame-top frame-top-left">Suppose we play “Stayin’ Alive” by the Bee Gees <span class=howler-icon data-attribute=stayin></span>, a song with almost universal recognition. </p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-3-4.svg'>

        <picture>
           <source
               srcset="assets/images/frame-3.png 1200w, assets/images/frame-3.png 900w, assets/images/frame-3.png 700w, assets/images/frame-3.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-3.png" alt="">
        </picture>
      </div>
    </section>
    <section class="frame">
      <p class="frame-top">Playing “Get Low” by Lil Jon <span class=howler-icon data-attribute=low></span> will draw a different crowd. </p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-4.svg'>

        <picture>
           <source
               srcset="assets/images/frame-4.png 1200w, assets/images/frame-4.png 900w, assets/images/frame-4.png 700w, assets/images/frame-4.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-4.png" alt="">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">Play “Smack That” by Akon  <span class=howler-icon data-attribute=smack></span> , released in 2006, and it’s your best shot at isolating people in their 20s. </p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-5.svg'>

        <picture>
           <source
               srcset="assets/images/frame-5.png 1200w, assets/images/frame-5.png 900w, assets/images/frame-5.png 700w, assets/images/frame-5.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-5.png" alt="">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">Play “Cold Hearted” by Paula Abdul <span class=howler-icon data-attribute=cold></span> , released in 1988, and you can do the same thing for people in their 40s. </p>
      <div class="frame-img">
        <!-- <img class="frame-svg" inline src='frame-5.svg'> -->

        <picture>
           <source
               srcset="assets/images/frame-6.png 1200w, assets/images/frame-6.png 900w, assets/images/frame-6.png 700w, assets/images/frame-6.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-6.png" alt="">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">What if you needed a song that concentrated the floor with people in their 30s and 40s? There’s a Venn diagram for that.</p>
      <div class="frame-img frame-shink">
        <img class="frame-svg" inline src='frame-7.svg'>

        <picture>
           <source
               srcset="assets/images/frame-7.png 1200w, assets/images/frame-7.png 900w, assets/images/frame-7.png 700w, assets/images/frame-7.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-7.png" alt="">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">Adding in people in their 20s and you’re left with a data-led approach to generationally divide (or unify) dance floors.</p>
      <div class="frame-img frame-shink">
        <img class="frame-svg" inline src='frame-8.svg'>

        <picture>
           <source
               srcset="assets/images/frame-8.png 1200w, assets/images/frame-8.png 900w, assets/images/frame-8.png 700w, assets/images/frame-8.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-8.png" alt="">
        </picture>
      </div>
    </section>


  </div>


</section>
