<section class='story'>
  <h1>A Data-Led Theory to Generationally Divide Dance Floors</h1>
  <div class="frame-wrapper">
    <section class="frame">
      <p class="frame-top">This is a hypothetical wedding dance floor.</p>
      <div class="frame-img">
        <picture>
           <source
               srcset="assets/images/frame-1.png 1200w, assets/images/frame-1.png 900w, assets/images/frame-1.png 700w, assets/images/frame-1.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-1.png" alt="Wedding dance floor with 25 people drawn">
        </picture>
      </div>
    </section>
    <section class="frame">
      <p class="frame-top">The crowd on our dance floor is equally distributed by age.</p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-2-2.svg'>

        <picture>
           <source
               srcset="assets/images/frame-2.png 1200w, assets/images/frame-2.png 900w, assets/images/frame-2.png 700w, assets/images/frame-2.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-2.png" alt="Wedding dance floor with 25 people drawn, each grouped into age ranges by teens, 20s, 30s, 40s, 50s">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top frame-top-left">Some age groups are more likely to recognize certain songs than others. </p>
      <p class="frame-top frame-top-left frame-top-medium">(we <a target="_blank" href="https://pudding.cool/2020/04/music-challenge/">collected a 3.5 million data points</a> on what songs people know)</p>
      <p class="frame-top frame-top-left">Suppose we play “Stayin’ Alive” by the Bee Gees <span class=howler-icon data-attribute=stayin></span>, a song with almost universal recognition. </p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-3-6.svg'>

        <picture>
           <source
               srcset="assets/images/frame-3.png 1200w, assets/images/frame-3.png 900w, assets/images/frame-3.png 700w, assets/images/frame-3.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-3.png" alt="Wedding dance floor with 25 people drawn, each grouped into age ranges by teens, 20s, 30s, 40s, 50s. One teenager is drawn off to the side, off the dance floor.">
        </picture>
      </div>
    </section>
    <section class="frame">
      <p class="frame-top">Playing “Get Low” by Lil Jon <span class=howler-icon data-attribute=low></span> will draw a different crowd. </p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-4.svg'>

        <picture>
           <source
               srcset="assets/images/frame-4.png 1200w, assets/images/frame-4.png 900w, assets/images/frame-4.png 700w, assets/images/frame-4.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-4.png" alt="4 dancers from their 50s are drawn off the floor. 1 30 year-old is drawn off the floor. 2 teenagers are drawn off the floor. 1 20 year old is drawn off the floor.">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">Play “Smack That” by Akon  <span class=howler-icon data-attribute=smack></span> , released in 2006, and it’s your best shot at isolating people in their 20s. </p>
      <div class="frame-img">
        <img class="frame-svg" inline src='frame-5.svg'>

        <picture>
           <source
               srcset="assets/images/frame-5.png 1200w, assets/images/frame-5.png 900w, assets/images/frame-5.png 700w, assets/images/frame-5.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-5.png" alt="A spotlight is drawn on 4 twenty year olds. 1 40 year old, 3 30 year olds, and 3 teens are on the dance floor. Everyone else is off the floor.">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">Play “Cold Hearted” by Paula Abdul <span class=howler-icon data-attribute=cold></span> , released in 1988, and you can do the same thing for people in their 40s. </p>
      <div class="frame-img">
        <!-- <img class="frame-svg" inline src='frame-5.svg'> -->

        <picture>
           <source
               srcset="assets/images/frame-6.png 1200w, assets/images/frame-6.png 900w, assets/images/frame-6.png 700w, assets/images/frame-6.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-6.png" alt="A spotlight is on 4 40 year olds, 1 20 year old, 1 30 year old, and 2 50 year olds are on the floor. Everyone else is off the floor.">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">What if you needed a song that brings to the floor people in their 30s and 40s? There’s a Venn diagram for that.</p>
      <div class="frame-img frame-shink">
        <img class="frame-svg" inline src='frame-7-5.svg'>

        <picture>
           <source
               srcset="assets/images/frame-7-2.png 1200w, assets/images/frame-7-2.png 900w, assets/images/frame-7-2.png 700w, assets/images/frame-7-2.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-7-2.png" alt="A venn diagram showing Cold Hearted by Paul Abdul in the 40 to 49 year olds circle. Thong Song by Sisqo is in the 30 to 39 year olds circle. At the intersection between the two circles is Eternal Flame by the Bangles.">
        </picture>
      </div>
    </section>

    <section class="frame">
      <p class="frame-top">Adding in people in their 20s, and the diagram depicts 7 songs to generationally divide (or unify) dance floors.</p>
      <div class="frame-img frame-shink">
        <img class="frame-svg" inline src='frame-8-3.svg'>

        <picture>
           <source
               srcset="assets/images/frame-8-2.png 1200w, assets/images/frame-8-2.png 900w, assets/images/frame-8-2.png 700w, assets/images/frame-8-2.png 400w"
               sizes="(max-width: 600px) 600px, 100vw"
           >
           <img class="frame-img" src="assets/images/frame-8-2.png" alt="The previous venn diagram now includes a circle for 20 to 29 year olds. In it is Smack That by Akon. At the intersection between 20 to 29 year olds and 30 to 39 year olds is Stay by Lisa Loeb. Between 20 to 29 year olds and 40 to 49 year olds is The Reason by Hoobastank. At the center intersecting all circles is Stayin Alive by Bee Gees.">
        </picture>
      </div>
    </section>

    <p class="byline">Words + Data by <a target="_blank" href="https://pudding.cool/author/matt-daniels/">Matt Daniels</a>. Illustrations by <a target="_blank" href="https://pudding.cool/author/liana-sposto/">Liana Sposto</a></p>


  </div>


</section>
